.mpcl-listing-grid{
    width: 100%;
    display: block;
    clear: both;
}

.mpcl-listing-grid table{
    width: 100%;
    border: 0;
    border-collapse: collapse;
}

.mpcl-listing-grid table tbody,
.mpcl-listing-grid table tr,
.mpcl-listing-grid table td{
    border: 0 !important;
    padding: 8px !important;
}

.mpcl-listing-grid table thead tr td{
    height: 0;
    border: 0;
    visibility: hidden;
    padding: 0;
}

.mpcl-listing-grid table tbody.captions tr td{
    padding-bottom: 23px !important;
}

.mpcl-listing-grid .thumbnail{
    width: 100%;
}

.mpcl-listing-grid .thumbnail a{
    display: inline-block;
    border: 1px solid #e0e0e0;
}

.mpcl-listing-grid .thumbnail img{
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
    margin: 0 !important;
    transition: 0.2s all ease;
}

.mpcl-listing-grid .thumbnail img:hover{
    cursor: pointer;
    box-shadow: 0 0 10px -5px #888;
    opacity: 0.9;
}

.mpcl-listing-grid tbody.captions a{
    text-decoration: none !important;
    color: inherit !important;
}

.mpcl-listing-grid tbody.captions a:hover{
    opacity: 0.8;
}

.mpcl-listing-grid h5{
    text-align: center;
}

@media all and (max-width: 1600px){
    .mpcl-listing-grid h5{
        font-size: 100% !important;
    }
}

.mpcl-listing-grid .pagination{
    display: block;
    width: 100%;
    clear: both;
}

.mpcl-listing-grid .pagination .page-prev{
    float: left;
    display: inline-block;
}

.mpcl-listing-grid .pagination .page-next{
    float: right;
    display: inline-block;
}

.mpcl-single{
    width: 100%;
    clear: both;
    display: block;
    margin-bottom: 15px;
}

.mpcl-single .head>td{
    vertical-align: top;
    padding: 15px 8px;
}

.mpcl-single .head img{
    max-width: 100%;
}

.mpcl-single .head table{
    width: 100%;
    border: none;
}

.mpcl-single .head table td{
    border-left: none;
    border-right: none;
}

.mpcl-single .head table tr:first-child td{
    border-top: none;
}
.mpcl-single .head table tr:last-child td{
    border-bottom: none;
}

.mpcl-single .head table td:first-child{
    width: 150px;
    font-weight: bold;
}

.mpcl-single .description td,
.mpcl-single .photos td{
    padding: 15px 8px;
}

.mpcl-single table>tbody>tr:last-child td{
    border-bottom: none;
}

.mpcl-single img.thumbnail{
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
    margin: 0 !important;
    transition: 0.2s all ease;
    display: inline-block;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
}

.mpcl-single .photos img.thumbnail:hover{
    opacity: 0.8;
}

.mpcl-single .trigger-back{
    margin-bottom: 10px;
    display: inline-block;
}